/* List Styling */
ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

/* Table Styling */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr.odd {
    background: white
}
tr.even {
    background: lightgray
}
td {
    padding: 15px;
    vertical-align: top;
}
th {
    background-color: black;
    color: white;
}